*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  box-sizing: border-box;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
}

body {
  margin: 0;
}

h1 {
  font-family: Bevan, serif;
  text-align: center;
  color: white;
  margin: .3em;
}

.nav {
  text-align: center;
}

.nav li {
  list-style-type: none;
  font-family: sans-serif;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  background-color: #713837;
  padding: .6em;
  border-radius: 3px;
  line-height: 1.5;
  margin: .1em;
}

a:hover {
  background-color: #f33;
}
